<!DOCTYPE html>
<html>
<head>
    <title>AI Crowd & Weapon Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>AI-Based Crowd & Anomaly Detection System</h1>

    <div class="container">
        <div class="video-box">
            <h3>Live Camera Feed</h3>
            <img src="/video">
        </div>

        <div class="graph-box">
            <h3>Crowd Count Analysis</h3>
            <img src="/static/crowd_graph.png">
        </div>
    </div>

    <p class="footer">Final Year Project – Computer Vision Security System</p>
</body>
</html>
